@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  color: #614224;
  background: #f8f4e7;
  --font-header: 3.5rem; /* Big headers (like banners) */
  --font-header-md: 3rem; /* Medium headers */
  --font-section-header: 1.75rem; /* Section headers */
  --font-body: 1.25rem; /* Body text */
  --font-small: 1rem; /* Small text */
  margin: 0;
  padding: 0;
}

.CTA {
  @apply text-[#FEFAF0] bg-[#A54B4D] hover:bg-[#ff8a8c];
  font-weight: 700;
  font-size: 1.2rem;
}

.text-style {
  font-family: "Libre Baskerville", serif;
  color: #614224;
}

.header-style {
  font-family: "Raleway", serif;
  color: #614224;
}

.text-style-inverse {
  font-family: "Libre Baskerville", serif;
  color: #ffffff;
}

.header-style-inverse {
  font-family: "Raleway", serif;
  color: #ffffff;
}

.background-green {
  background: #4b562c;
}

.background-none {
  background: none;
}

.curve-mask {
  clip-path: circle(90.8% at 100% 0);
}

:root {
  --font-header: 4rem;
  --font-header-md: 3rem;
  --font-section-header: 2.25rem;
  --font-body: 1.25rem;
  --font-small: 0.875rem;
}

/* Medium screens */
@media (max-width: 1024px) {
  :root {
    --font-header: 3.5rem;
    --font-header-md: 2.75rem;
    --font-section-header: 2rem;
    --font-body: 1.125rem;
    --font-small: 0.8125rem;
  }
}

/* Small screens */
@media (max-width: 768px) {
  :root {
    --font-header: 3rem;
    --font-header-md: 2.25rem;
    --font-section-header: 1.75rem;
    --font-body: 1rem;
    --font-small: 0.75rem;
  }
}

/* Extra small screens */
@media (max-width: 480px) {
  :root {
    --font-header: 2.5rem;
    --font-header-md: 2rem;
    --font-section-header: 1.5rem;
    --font-body: 0.875rem;
    --font-small: 0.6875rem;
  }
}
